<main id="top">
    <div class="landing-main-body row center-xs middle-xs">
        <div class="landing-main-container">
            <h1>
                JordanCarroll.me
            </h1>
            <div class="col-xs-12 center-xs middle-xs">
                <p>
                    Hi, and welcome to my <i>currently-under-construction</i> portfolio website!
                </p>
            </div>
        </div>
    </div>
    <div ng-scroll-class="landing-nav-links-placeholder"></div>
    <div class="landing-nav-links row middle-xs center-xs"
        ng-scroll-class="pin-to-top">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item brand">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="top">
                        <span class="nav-icon ss-anglesup"></span>
                        <span class="nav-text">Jordan Carroll</span>
                    </a>
                </li>
                <li class="pure-menu-item" >
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="about-me">
                        <span class="nav-icon ss-info"></span>
                        <span class="nav-text">About Me</span>
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link"
                        scroll-to="projects">
                        <span class="nav-icon ss-laptop"></span>
                        <span class="nav-text">Projects</span>
                    </a>
                </li>
                <li class="pure-menu-item limited-time">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="contact">
                        <span class="nav-icon ss-mail"></span>
                        <span class="nav-text">
                        Contact Me</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Limited Time Offer -->
    <div class="limited-time-offer row center-xs middle-xs row-no-margin"
        id="about-me">
        <div class="container row center-xs middle-xs">
            <div class="col-md-6 col-xs-12 detail"
                when-visible="$ctrl.fadeIn">
                <h2 class="limited-time-offer-title text-red">
                    Who am I?
                </h2>
                <p class="limited-time-offer-description">
                    I am first and foremost a follower of Christ, my profession is full-stack web development, specializing in front end design and architecture, and my hobbies include studying theology, fitness, and personal finance. To learn more about me, please see my <a href="https://www.linkedin.com/in/jordanacarroll">LinkedIn Profile</a>.
                    <br>
                    Thank you for taking the time to visit my website!
                </p>
            </div>
            <div class="col-md-6 col-xs-12">
            <img ng-src="{{$ctrl.headshot}}" class="headshot">
            </div>
        </div>
    </div>
    <!-- Limited Time Offer -->

    <div class="projects row center-xs middle-xs"
        id="projects">
        <span class="col-xs-12">
            <span class="ss-laptop"></span>
        </span>

        <h2 class="col-xs-12">Projects</h2>

        <div class="col-xs-5 projects-description">
                Below are a few of the projects that I am currently working on and happy to give more information on.
        </div>
    </div>

    <!-- Features -->
    <div class="feature feature-left ten-thousand-reasons">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                10,000 Reasons
            </div>
            <div class="information-detail">
                I am currently in the process of developing a website for a church called "10,000 Reasons". 
            </div>
        </div>
        <div class="picture">
            <a href="http://jcarroll2007.github.io/10k-reasons/#/"
                class="feature-link">
                View Demo
            </a>
        </div>
    </div>
    <div class="feature feature-right jordan-and-erica"
        id="projects">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                JordanAndEricaCarroll.com
            </div>
            <div class="information-detail">
                I am marrying my best friend very soon, and I created a website using <a href="">Squarespace</a> for easy access to information about the special occasion. 
            </div>
        </div>
        <div class="picture">
            <a href="https://jordanandericacarroll.com/#our-story"
                class="feature-link">
                View Demo
            </a>
        </div>
    </div>
    <div class="feature feature-left downtown-scoops"
        id="projects">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                Downtown Scoops
            </div>
            <div class="information-detail">
                One of the very first projects that I did outside of my full-time job was a simple static website that I created for a local ice cream shop. I loved their ice cream, so I offered to develop them a website in exchange for free ice cream - I think I got the better end of the deal. 
            </div>
        </div>
        <div class="picture">
            <a href="http://downtownscoopsfayette.com/index.html"
                class="feature-link">
                View Demo
            </a>
        </div>
    </div>
    <div class="feature feature-right free-church-kiosk"
        id="projects">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                Free Church Kiosk
            </div>
            <div class="information-detail">
                I began development of a prototype landing page for a company called Free Church Kiosk.
            </div>
        </div>
        <div class="picture">
            <a href="http://jcarroll2007.github.io/free-church-kiosk/#/"
                class="feature-link">
                View Demo
            </a>
        </div>
    </div>
    <!-- Features -->

    <div id="contact"></div>
    <!-- Contact -->
    <div class="contact-form-parent">
        <div class="contact-form-container">
            <div class="center-xs">
                <h2>
                    Contact Me
                </h2>
            </div>
            <div class="container">
                <div class="contact-form">
                    <div class="row center-xs">
                        <span class="contact-field">
                            <a class="contact-field-action"
                                href="mailto:jordancarroll.dev@gmail.com">
                                <span class="contact-field-icon ss-mail"></span>
                            </a>
                            <span class="contact-field-text">
                                JordanCarroll.dev@gmail.com
                            </span> 
                        </span>
                    </div>
                </div>
                <!-- <form class='contact-form'>
                    <div class="row center-xs ">
                        <div class="form-input col-xs-12">
                            <input class="form-control" placeholder="Name">
                        </div>
                        <div class="form-input col-xs-12">
                            <input class="form-control" placeholder="Email">
                        </div>
                        <div placeholder="Note" class="form-input col-xs-12">
                            <textarea
                                placeholder="Leave me a note..."
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <input class="form-submit" type="submit" value="Submit">
                </form> -->
            </div>
        </div>
    </div>
    <!-- Contact -->
</main>