$brand-color: #054b75;
$brand-red: #ce3232;

body {
    margin-bottom: 100vh !important;
}

landing {
    display: block;

    h2 {
        font-size: 48px;
        color: white;
        font-weight: 300;
        margin: 0;
        margin-bottom: 20px;
    }

    .not-visible {
        visibility: hidden;
    }

    .text-red {
        color: $brand-red;
        font-weight: 600
    }

    .row.row-no-margin {
        margin: 0;
    }

    .headshot {
        border-radius: 50%;
        width: 100%;
        height: auto;
        max-width: 400px;
    }

    .main-header {
        text-align: center;
        height: 6vh;
        background: url('./background.jpg');
        margin: 0;

        .brand {
            text-align: left;
        }

        .contact-information {
            font-size: 20px;
            font-weight: 200;
            color: white;
            padding-right: 15px;
            text-align: right;
        }
    }

    .landing-main-body {
        height: 92vh;
        background-color: #484848;
        background: url('./background.jpg');
        background-size: cover;
        background-position: 50%;
        margin: 0;

        h1 {
            display: inline-block;
            margin: 0;
            color: white;
            font-weight: 200;
            font-size: 48px;
        }

        .landing-main-container {
            padding: 50px;
            background-color: rgba(0,0,0,0.50);
            width: 100%;

            p {
                display: inline-block;
                max-width: 400px;
                color: white;
                font-size: 20px;
                font-weight: 200;
            }
        }
    }

    .landing-nav-links-placeholder {
        height: 8vh;
        border-bottom: 1px solid transparent;
    }
    .landing-nav-links {
        height: 8vh;
        border-bottom: 1px solid #dadada;
        margin: 0;
        background-color: white;

        .brand {
            display: none;
        }

        &.pin-to-top {
            position: fixed;
            background-color: rgba(255, 255, 255, 0.93);
            top: 0;
            z-index: 1000;
            width: 100%;

            .brand {
                display: inline-block;
            }
        }

        .pure-menu-link {
            display: flex;
            .nav-icon {
                display: inline-flex;
                align-items: center;
            }
            .nav-text {
                display: none;
            }
        }
    }

    .section-banner {
        height: 10vh;
        background-color: $brand-color;
        text-align: center;

        .section-header {
            color: white;
            margin: 0;
            font-size: 28px;
            font-weight: 300;
        }
    }

    .pure-menu-item {
        font-size: 20px;
        margin: 0 5px;
        cursor: pointer;

        & .pure-menu-link {
            border-radius: 2px;
        }

        & .pure-menu-link:hover {
            background-color: #eee;
        }

        &.active .pure-menu-link {
            background-color: lighten($brand-color, 10) !important;
            border-radius: 2px;
            color: white;
            transition: .4s ease background-color;
            &:hover {
                background-color: $brand-color !important;
                transition: .4s ease background-color;
            }
            .pure-menu-link {
                color: white;
            }
        }

        &.limited-time .pure-menu-link {
            background-color: lighten($brand-red, 10) !important;
            border-radius: 2px;
            color: white;
            transition: .4s ease background-color;
            &:hover {
                transition: .4s ease background-color;
                background-color: $brand-red !important;
            }
            .pure-menu-link {
                color: white;
            }
        }
    }

    .feature {
        height: 70vh;
        background-color: white;
        border-top: 1px solid #eee;

        .information {
            height: 70vh;
            width: 50%;
            text-align: center;
            .information-title {
                font-size: 32px;
                font-weight: 400;
                padding: 30px;
                padding-top: 28vh;
            }
            .information-detail {
                font-size: 20px;
                font-weight: 300;
                padding: 0 100px;
            }
        }
        .picture {
            height: 70vh;
            width: 50%;
            position: relative;

            .feature-link {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                padding: 10px 20px;
                color: white;
                border: 2px solid white;
                text-decoration: none;
                font-size: 26px;
                background-color: rgba(0, 0, 0, 0.55);
                transition: .3s background ease;

                &:hover {
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.8);
                    transition: .3s background ease;
                }
            }
        }
    }
    .feature-left {
        .information {
            float: left;
        }
        .picture {
            float: right;
        }
    }
    .feature-right {
        .information {
            float: right;
        }
        .picture {
            float: left;
        }
    }

    .projects {
        background-color: white;
        padding: 40px;
        padding-top: calc(40px + 6vh);
        margin: 0;

        .projects-description {
            font-size: 16px;
        }

        .ss-laptop {
            font-size: 46px;
            color: #c1c1c1;
        }

        h2 {
            color: #7d7d7d;
            margin: 0 0 35px 0;
            font-weight: 200;

        }
    }

    .ten-thousand-reasons {
        .picture {
            background-image: url('./ten-k-reasons.png');
            background-size: cover;
            background-position: 50%;
        }
    }

    .jordan-and-erica {
        .picture {
            background-image: url('./jordan-and-erica.png');
            background-size: cover;
            background-position: 50%;
        }
    }

    .downtown-scoops {
        .picture {
            background-image: url('./downtown-scoops.png');
            background-size: cover;
            background-position: 50%;
        }
    }

    .free-church-kiosk {
        .picture {
            background-image: url('./free-church-kiosk.png');
            background-size: cover;
            background-position: 50%;
        }
    }

    .limited-time-offer {
        background-color: #3a3a3a;
        height: 100vh;
        padding-top: 10vh;
        text-align: center;
        box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);

        .limited-time-offer-title {
            margin: 0;
            font-size: 48px;
            font-weight: 200;
            display: inline-block;
            border-radius: 3px;
        }
        .limited-time-offer-description {
            font-size: 24px;
            color: white;
            font-weight: 200;
            margin: 0;

            a {
                text-decoration: none !important;
                color: lighten($brand-red, 6);
                font-weight: 400;
                transition: .4s color ease;
                &:hover {
                    transition: .4s color ease;
                    color: $brand-red;
                }
            }
        }
        .detail {
            text-align: left;
            padding: 15px;
        }

        .get-offer-container {
            padding-top: 20px;
            text-align: center;
        }

        .get-offer-btn {
            background-color: transparent;
            border: 2px solid $brand-red;
            border-radius: 3px;
            padding: 15px 25px;
            font-size: 24px;
            font-weight: 300;
            color: white;
        }
    }

    .contact-form-placeholder {
        height: 100vh;
    }
    .contact-form-parent {
        background-color: #484848;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -10;
        height: 100vh;

        .contact-field {
            display: flex;
            font-size: 24px;

            .contact-field-action {
                display: flex;
                align-items: center;
                background-color: lighten($brand-color, 10);
                padding: 20px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                text-decoration: none;

                &:hover {
                    background-color: $brand-color;
                    cursor: pointer;
                    transition: .2s ease background-color;
                }

                .contact-field-icon {
                    display: inline-flex;
                    color: white;
                }
            }
            .contact-field-text {
                display: flex;
                align-items: center;
                background-color: white;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 10px 20px;

            }   
        }

        .contact-form-container {
            padding-top: 25vh;
        }

        .form-control {
            min-width: 400px;
            border: none;
            outline: none !important;
            padding: 15px 20px;
            font-size: 18px;
            border-bottom: 5px solid #5f5f5f;
            transition: .4s ease border-color;

            &:focus {
                border-bottom-color: #83bde0;
            }
        }
        .form-input {
            margin-bottom: 20px;
        }
        .form-submit {
            border: none;
            outline: none !important;
            padding: 15px 20px;
            font-size: 24px;
            background-color: $brand-color;
            min-width: 200px;
            font-weight: 300;
            color: white;
            transition: .4s ease background-color;
            &:hover {
                background-color: lighten($brand-color, 6);
            }
        }
    }

    .landing-footer {
        margin: 0;
        padding: 30px;
        background-color: $brand-color;
        color: white;
    }
}